.wrapper {
	@apply min-h-screen grid grid-cols-1 lg:grid-cols-2;

	> .left {
		@apply h-full flex flex-col items-center justify-center px-4;

		> .heading {
			@apply text-3xl mb-6;
		}

		> .form {
			@apply max-w-96 w-full;

			.hint {
				@apply text-gray-600 font-light italic text-center text-xs;
			}
		}

		.button {
			@apply mt-4 w-full;
		}

		.toggle {
			@apply mt-2 text-center;
		}
	}

	> .right {
		@apply h-full bg-primary hidden lg:flex items-center justify-center;
	}
}
